<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jsTree Test</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
</head>
<body style="display: none">

<div id="jstree">
</div>
<button id="btn">Click</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
<script>
    $(function () {
        $('body').show();

        $('#jstree').jstree({
            core: {
                data: function (node, cb) {
                    if (node.id == '#') {
                        cb.call(this, [
                            {
                                id: '123-456',
                                text: 'AAA',
                                parent: '#',
                                state: {opened: false, selected: true},
                                children: true
                            }
                        ]);
                    } else {
                        cb.call(this, [
                            {
                                id: node.id + '1',
                                text: 'AAA',
                                parent: node.id,
                                state: {opened: false, selected: true},
                                children: true
                            }
                        ]);
                    }
                }
            },
            types: {
                default: {
                },
                connected: {
                }
            },
            plugins: ['types']
        });

        $('#btn').click(function () {
            console.log($('#jstree').jstree(true).get_selected('id')[0]);
        });
    });
</script>

</body>
</html>
