<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jsTree Test</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
</head>
<body style="display: none">

<div id="jstree">
</div>
<br>
<button id="btnInfo">Info</button>
<button id="btnEnable">Enable</button>
<button id="btnRestore">Restore</button>
<p id="info"></p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
<script>
    $(function () {
        $('body').show();

        $('#jstree').jstree({
            core: {
                multiple: false,
                data: function (node, cb) {
                    if (node.id == '#') {
                        cb.call(this, { id: '1', text: 'Root', parentUrl: 'root.com', connected: false, parent: '#', state: { opened: false }, children: true });
                    } else {
                        // Replace with HTTP call (osapi)
                        setTimeout(function () {
                            var subSites = [
                                { id: node.id + '-1', name: 'AAA', url: 'http://' + node.id + '-1.com', connected: false },
                                { id: node.id + '-2', name: 'BBB', url: 'http://' + node.id + '-2.com', connected: true }
                            ];
                            var status = 200;

                            // Build child list
                            var childList = [];
                            if (status == 200) {
                                subSites.forEach(function (site) {
                                    childList.push({
                                        id: site.id,
                                        text: site.name,
                                        parentUrl: site.url,
                                        connected: site.connected,
                                        parent: node.id,
                                        children: true,
                                        state: { disabled: site.connected },
                                    });
                                });
                            }

                            cb.call(this, childList);
                        }, 333);
                    }
                }
            }
        });

        $('#btnInfo').click(function () {
            var node = $('#jstree').jstree(true).get_selected(true);
            if (node.length) {
                node = node[0];
                $('#info').text(JSON.stringify({ id: node.id, name: node.text, url: node.original.parentUrl, connected: node.original.connected }));
            } else {
                $('#info').text('');
            }
        });

        $('#btnEnable').click(function () {
            $('#jstree li').each(function() {
                $("#jstree").jstree(true).enable_node(this.id);
            })
        });

        $('#btnRestore').click(function () {
            $('#jstree li').each(function() {
                if ($("#jstree").jstree(true).get_node(this.id).original.connected) {
                    $("#jstree").jstree(true).disable_node(this.id);
                }
            });

            if ($('#jstree').jstree(true).get_selected(true)[0].original.connected) {
                $('#jstree').jstree(true).deselect_all();
            }
        });
    });
</script>

</body>
</html>
